layout {

    focus-ring {
        active-color   "#7c67e4"
        inactive-color "#15102d"
        urgent-color   "#fd4663"
    }

    border {
        active-color   "#7c67e4"
        inactive-color "#15102d"
        urgent-color   "#fd4663"
    }

    shadow {
        color "#15102d70"
    }

    tab-indicator {
        active-color   "#7c67e4"
        inactive-color "#210c8d"
        urgent-color   "#fd4663"
    }

    insert-hint {
        color "#7c67e480"
    }
}

recent-windows {
    highlight {
        active-color "#7c67e4"
        urgent-color "#fd4663"
    }
}
